<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.mapper.ChatMemoryMapper">
    <insert id="saveMemory">
        INSERT INTO memory (session_id, content)
        VALUES (#{memoryId}, #{content})
    </insert>

    <update id="updateMemory">
        UPDATE memory
        SET content = #{content}
        WHERE session_id = #{memoryId}
    </update>

    <delete id="deleteMemory">
        DELETE
        FROM memory
        WHERE session_id = #{memoryId}
    </delete>

    <select id="getMemory" resultType="java.lang.String">
        SELECT content
        FROM memory
        WHERE session_id = #{memoryId}
    </select>

</mapper>